/* Style global */
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

h1, h2 {
	margin: 0;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

/*header*/
header {
    display: flex;
  
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333;
    
  }
  
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo a {
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    margin-left: 1rem;
  }
  
  .logo img {
    width: 120px;
    height: 50px;
    margin-left: auto;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav ul li {
    margin-left: 1rem;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem;
  }
  nav ul li a.active {
  background-color: #555;
  border-radius: 0.25rem;
  }
  
  nav ul li a:hover {
    background-color: #555;
    border-radius: 0.25rem;
  }
  
  main {
    padding: 1rem;
  }
  

/* Film info */
.film-info {
	display: flex;
  width: 90%;
  margin-top: 50px;
}

.film-poster { /*image*/
	margin-right: 50px;
  padding-left: 20%;
}

.film-poster img {
  max-width: 100%;
	height: 350px; /* hauteur fixe de 400 pixels */
	object-fit: cover; /* pour que l'image s'adapte en conservant son ratio */
}

.film-details {
	flex: 1;
}

.film-details h1 {
	font-size: 36px;
	margin-bottom: 10px;
}

.film-details p {
	margin-bottom: 10px;
	line-height: 1.5;
}

.film-details strong {
	font-weight: bold;
}

.film-details .film-trailer {
	background-color: #333;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.film-details .film-trailer:hover {
	background-color: #555;
}

/*étoiles*/
.stars {
  font-size: 0;
}
.star:before {
  content: '\2606';
  font-size: 24px;
  color: #ddd;
  cursor: pointer;
}
.star.active:before,
.star:hover:before {
  content: '\2605';
  color: gold;
}
.star-3 .star:nth-child(-n+3):before {
  content: '\2605';
  color: blue;
}

 
/* Pied de page */
footer {
	position: relative;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #f8f8f8;
	padding: 2rem;
	text-align: center;
  }
  
  footer p {
	font-size: 1.2rem;
	margin-bottom: 1rem;
  }
  
  footer a {
	color: #333;
	text-decoration: none;
	margin: 0 0.5rem;
  }
  
  footer a:hover {
	color: #999;
  }
  
/* Styles pour les liens du footer */
  .footer-links {
	display: flex;
	justify-content: center;
	margin-top: 1rem;
  }
  
  .footer-links a {
	font-size: 0.9rem;
	margin: 0 1rem;
  }
  
/* Empêcher le défilement */
  body {
	overflow-x:hidden;
	overflow-y: scroll;
	height: 100%;
  }
  
  main {
	min-height: calc(100% - 4rem); /* Soustraire la hauteur du footer */
  }

/*Carrousel*/
/* Carrousel */
.carousel-container {
  width: 90%;
  margin: 50px auto;
  overflow: hidden;
  position: relative;
  background-color: #f7f7f7;
  padding: 20px;
  text-align: center;
}

.carousel-container h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1;
  background-color: #f7f7f7;
  }

  .carousel {
    width: 100%;
    display: flex;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 80px; /*ajout de la marge entre le titre et les images*/
  }

  .slide {
    width: 100%;
    margin: 60px 10px 10px; /*ajout de la marge entre le titre et les images*/
    box-sizing: border-box; /*ajout pour inclure la marge dans la largeur du bloc*/
  }

.slide img {
  width: 100%;
  height: auto;
}

.carousel-container button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.carousel-container button:hover {
  transform: scale(1.2);
}

.carousel-container button.prev {
  left: 1rem;
}

.carousel-container button.next {
  right: 1rem;
}

.carousel-container button.disabled {
  opacity: 0.5;
  cursor: default;
}
