/* Reset CSS */
html {
    box-sizing: border-box;
  }
  *, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  /*body {
    background-image: url('pexels-pixabay-33129.jpg');
    background-size: cover;
    background-position: center center;
  }*/
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }
  .container {
    max-width: 1200px; /* 75% de la largeur de la page */
    margin: 0 auto; /* centrer horizontalement */
  }
  
  
  
  header {
    display: flex;
  
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333;
    
  }
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1; /* ajouter cette ligne */
  }
  main {
    padding-bottom: 10rem; /* Hauteur du footer */
  }
  
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo a {
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    margin-left: 1rem;
  }
  
  .logo img {
    width: 120px;
    height: 50px;
    margin-left: auto;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav ul li {
    margin-left: 1rem;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem;
  }
  nav ul li a.active {
  background-color: #555;
  border-radius: 0.25rem;
  }
  
  nav ul li a:hover {
    background-color: #555;
    border-radius: 0.25rem;
  }
  
  main {
    padding: 1rem;
  }/* horaires.css */

/* Conteneur principal pour les horaires des films */
#seanceContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Ajusté pour un meilleur espacement */
    margin-top: 20px;
  }
  
  /* Chaque film et ses horaires */
  #seanceContainer .filmElement {
    background-color: #f0f0f0;
    border-radius: 10px;
    width: 250px;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: 0.3s;
  }
  
  /* Le titre du film */
  #seanceContainer .filmElement h3 {
    font-size: 18px; /* Ajusté pour une meilleure lisibilité */
    margin-bottom: 10px;
  }
  
  /* L'image du film */
  #seanceContainer .filmElement img {
    width: 100%; /* Ajusté pour une meilleure couverture */
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  /* La liste des horaires de séances */
  #seanceContainer .filmElement ul {
    list-style-type: none;
    padding: 0;
  }
  
  /* Chaque horaire de séance */
  #seanceContainer .filmElement li {
    background-color: #ddd;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
  }
  /* Styles pour le footer */
footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f8f8;
    padding: 2rem;
    text-align: center;
    margin-top : -2rem;
  }
  
  footer p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  
  footer a {
    color: #333;
    text-decoration: none;
    margin: 0 0.5rem;
  }
  
  footer a:hover {
    color: #999;
  }
  
  /* Styles pour les liens du footer */
  .footer-links {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  
  .footer-links a {
    font-size: 0.9rem;
    margin: 0 1rem;
  }
  #loginButton {
    background-color: #008CBA; /* Couleur de fond */
    border: none; /* Pas de bordure */
    color: white; /* Couleur du texte */
    padding: 15px 32px; /* Espacement interne */
    text-align: center; /* Alignement du texte */
    text-decoration: none; /* Pas de décoration de texte */
    display: inline-block;
    font-size: 16px; /* Taille de la police */
    margin: 4px 2px; /* Marge extérieure */
    cursor: pointer; /* Curseur en forme de main */
}

#loginForm {
    background-color: #f2f2f2; /* Couleur de fond */
    padding: 20px; /* Espacement interne */
    margin-top: 20px; /* Marge extérieure en haut */
}

#loginForm form {
    display: flex; /* Disposition en flexbox */
    flex-direction: column; /* Orientation verticale */
}

#loginForm label {
    margin-bottom: 10px; /* Marge en dessous */
}

#loginForm input[type="text"],
#loginForm input[type="number"] {
    padding: 10px; /* Espacement interne */
    margin-bottom: 20px; /* Marge en dessous */
    border: 1px solid #ccc; /* Bordure */
}

#loginForm input[type="submit"] {
    background-color: #4CAF50; /* Couleur de fond */
    color: white; /* Couleur du texte */
    padding: 10px 20px; /* Espacement interne */
    border: none; /* Pas de bordure */
    cursor: pointer; /* Curseur en forme de main */
}

#loginForm input[type="submit"]:hover {
    background-color: #45a049; /* Couleur de fond au survol */
}
